{% extends '_layout.html' %}
{% block content %}

<div class="indexPage">

<h1 class="text-center">List of Users</h1>
{% for user in users %}
<div class="indexUsers">
<div class="indexUser">
<div>{{user.username}}</div>
<img src="{{user.profile_image_url}}" height=250 width=250/> </div>
</div>
{% endfor %}
<br/>

<!-- Pagination with just Next & Previous button-->
{% if pagination.get_page_count() > 1 %}
<div class="pager-one text-center">
{% if page > 1 %}
<button class="previous">
  <a href="./?page={{ page - 1 }}">Previous</a>
  </button>
{% endif %}
{% if pagination.get_page_count() > pagination.get_page() %}
<button class="next">
<a href="./?page={{ page + 1 }}">Next</a>
</button>
{% endif %} 
</div>
{% endif %}
</br>

<!--Pagination with Next & Previous button and indicates page number out of total page number -->
{% if pagination.get_page_count() > 1 %}
<div class="pager-two text-center">
  {% if pagination.get_page() > 1 %}
    <button class="previous">
    <a href="./?{{ request.args|clean_querystring('page', page=pagination.get_page() - 1) }}">&laquo; Previous {{ pagination.get_page() - 1 }} / {{ pagination.get_page_count() }}</a>
    </button>
  {% else %}
    <button style="display: none" class="previous disabled">
    <a href="#">&laquo; Previous</a>
    </button>
  {% endif %}

  {% if pagination.get_page_count() > pagination.get_page() %}
    <button class="next">
    <a href="./?{{ request.args|clean_querystring('page', page=pagination.get_page() + 1) }}">Next {{ pagination.get_page() + 1 }} / {{ pagination.get_page_count() }} &raquo;</a>
    </button>
  {% else %}
    <button style="display: none" class="next disabled">
    <a href="#">Next &raquo;</a></button>
  {% endif %}
</div>
{% endif %}
</div>

<!--Pagination with page numbers -->
<div class="pager-one text-center">

{% if page > 1 %}
  <button><a href="./?page={{ page - 1 }}">&laquo; </a></button>
<button class="previous">
  <a href="./?page={{ page - 1 }}">{{pagination.get_page() -1 }}</a>
  </button>
{% endif %}

{% if pagination.get_page_count() > pagination.get_page() %}
  {% if page == page %}
  <button class="disabled">{{page}}</button>
  <button class="next">
  <a href="./?page={{ page + 1 }}">{{pagination.get_page() + 1}}</a>
  {% endif %} 
  </button>
  <button><a href="./?page={{ page + 1 }}">&raquo;</a></button>
{% endif %}

</div>

<br>

{% endblock %}