{% extends '_layout.html' %}
{% block content %}

<h1 class="text-center">{{user.username}}</h1>
<img src="{{user.profile_image_url}}" height=250 width=250/>

<div>

<form action="{{url_for('follows.create', idol_id=user.id)}}" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<button type='submit' class='btn btn-primary'>Follow</button>
</form>
</div>

<div>
<ul>
<li>Followers: {{user.fan | length }}</li>
<li>Following: {{user.idol | length }}</li>
</ul>
</div>

<br></br>
<hr>
<section>
<div>
{% for image in user.images %}
<img src="{{image.users_image_url}}"  height=400 width =400/>
</div>
<br>
<a href="{{url_for('donations.new', image_id=image.id)}}" class="btn btn-primary">Donate</a> 
{% endfor %}
</section>
{% endblock %}