body {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(249, 249, 249, 0.345)
}

#navbar{
  background-color: #FFFFFF;
  width: 100%
}

#homePageContent {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}


#idolLatestPic{
  max-width: 100%;
}

#navbarTitle{
  font-family: 'Lobster', cursive;
  padding-left: 20px
}

#idolsBox{
  border: solid 1px #E5E5E5;
  border-radius: 5px;
  background-color: white;
  max-width: 75%;
  margin: 0 auto
}

#homepageProfilePic{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 4px
}

#homepageUsername{
  height: 20px;
  padding-left: 4px
}

#namebar{
  padding: 10px;
  padding-left: 20px
}

#homepageUsername{
  font-family:'Roboto', sans-serif;
}

#editForm{
  width: 45%;
  margin: 0 auto;
}

#editFormHeader{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px
}

#welcomePage{
  text-align: center;
  font-family: 'Lobster', cursive;
  left: 0;
  font-size: 80px;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: black;
    border: dotted pink 2px;
    color: #F4F4F4
}

#bgPic{
 width: 100%;
 height: 100%
}

#signInHeader{
  text-align: center;
  font-family: 'Lobster', cursive;
  padding-top: 20px;
  color: rgba(255, 255,255);
  padding-bottom: 20px
}

#signInForm{
  max-width: 50vh;
  margin: 0 auto;
  padding-top: 20px;
  color: rgba(255, 255,255);
  font-family:'Roboto', sans-serif;
}

#signInBorder{
  border: 1px solid rgba(255, 255, 255, .5);
  max-width: 65vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(255, 255, 255, .5);
}

#signInSignUpLink{
  color: rgba(255, 255,255);
  font-family: 'Lobster', cursive;
}

.bg-img {
  height: 100vh;
  background-image: url('../images/signinpage.jpg');
  background-size: cover;
}

::placeholder{
  opacity: 1;
}


