body {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(249, 249, 249, 0.345)
}

#navbar{
  background-color: #FFFFFF;
  width: 100%
}

#homePageContent {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.homepageImage{
  height: 100vh;
  background-image: url('../images/leaves.jpg');
  background-size: cover
}


#idolLatestPic{
  max-width: 100%;
}

#navbarTitle{
  font-family: 'Lobster', cursive;
  padding-left: 20px
}

#idolsBox{
  border: solid 1px #E5E5E5;
  border-radius: 5px;
  background-color: white;
  max-width: 75%;
  margin: 0 auto
}

#homepageProfilePic{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 4px
}

#homepageUsername{
  height: 20px;
  padding-left: 4px
}

#namebar{
  padding: 10px;
  padding-left: 20px
}

#homepageUsername{
  font-family:'Roboto', sans-serif;
}

#editForm{
  width: 45%;
  margin: 0 auto;
}

#editFormHeader{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px
}

#bgPic{
 width: 100%;
 height: 100%
}

#signInHeader{
  text-align: center;
  font-family: 'Lobster', cursive;
  padding-top: 20px;
  color: rgba(255, 255,255);
  padding-bottom: 20px
}

#signInForm{
  max-width: 50vh;
  margin: 0 auto;
  padding-top: 20px;
  color: rgba(255, 255,255);
  font-family:'Roboto', sans-serif;
}

#signInBorder{
  border: 1px solid rgba(255, 255, 255, .5);
  max-width: 65vh;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(255, 255, 255, .5);
}

#signInSignUpLink{
  color: rgba(255, 255,255);
  font-family: 'Lobster', cursive;
}

.bg-img {
  height: 100vh;
  background-size: cover;
  background: linear-gradient(to top, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
}

#signInForm .form-control {
  background-color: rgba(255,255,255,0.1);
  border: none;
  color: #FFFFFF
}

#signUpHeader{
  text-align: center;
  font-family: 'Lobster', cursive;
  padding-top: 20px;
  color: rgba(255, 255,255);
  padding-bottom: 20px
}

.signUpBg{
  height: 100vh;
  background-size: cover;
  background: linear-gradient(rgb(211, 149, 155), rgb(191, 230, 186));
}

#signUpForm{
  max-width: 50vh;
  margin: 0 auto;
  padding-top: 20px;
  color: rgba(255, 255,255);
  font-family:'Roboto', sans-serif;
  padding-bottom: 20px
}

#signUpForm .form-control{
  background-color: rgba(255,255,255,0.1);
  border: none;
  color: #FFFFFF
}

/* Text Animation for Homepage */

.typerwriter{
  height: 10em;
  position: relative;
  display: flex
}

.welcomePageText{
  text-align: center;
  position: absolute;
  color: white;
  font-size: 100px;
  line-height: 150px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', cursive;
  overflow: hidden;
  width: 100%;
  letter-spacing: 2px;
  animation: typing 3s steps(30, end), blink .85s step-end 2;
  white-space: nowrap;
  font-weight: 10;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  text-shadow: 2px 2px #CB7583
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: #CB7583;
  }
}

.profilePageImage{
  margin: 0 auto
}

#userImages{
  align-content: center;
  margin: 0 auto
}
