{% extends "_layout.html" %}

{% block title %}
  Homepage
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

{% if not current_user.is_authenticated %}
<img id="bgPic" class="bg-pic" src="/static/images/leaves.jpg" />
<h1 id="welcomePage">Welcome to Sandygram</h1>
{% endif %}
{% if current_user.is_authenticated %}
<div style="flex-direction: column;" id="homePageContent">
<h3>Hello, {{current_user.username}}</h3>
<h4>What's on your dash</h4>

{% for follow in current_user.idols %}
{% for image in follow.idol.images %}

<div id="idolsBox">
<div id="namebar">
<img id ="homepageProfilePic" src="{{follow.idol.profile_image_url}}"/>
<p id="homepageUsername">{{follow.idol.username}}</p>
</div>
<img id ="idolLatestPic" src="{{image.users_image_url}}"/>
</div>
{% endfor %}
{% endfor %}
</div>
{% endif %}

{% endblock %}